.buy_button{
	width: 100px;
	height: 25px;
	background-color: #858585;
	text-align: center;
	

}

.product_view_button{
	width: 100px;
	height: 25px;
	background-color: #858585;
	text-align: center;
}

.bid_button{
	width: 100px;
	height: 25px;
	background-color: #858585;
	text-align: center;
}