@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

.wrapper{
	margin: 0;
	padding: 0;
}
body{
	background: #66ffff;
	font-family: 'Roboto', sans-serif;
}

hr{
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000;
    margin: 1em 0;
    padding: 0;
}

.wrapper ul{
	margin: 0;
	margin-left: 250px;
	margin-top: 10px;
	padding: 0;
	line-height: 30px;
	
}

.wrapper li{
	margin: 0;
	padding: 0;
	list-style: none;
    text-align: center;
    display: block;

       
 }

.wrapper ul li a{
    background-color: #E0ECF8;
    color: #190707;
    
    float: left;
    position: relative;
    height: 30px;
    width: 200px;
    display: block;
    border: 1px solid #000;
    text-align: center;
    text-decoration: none;

}


.search{
	margin-left: 800px;
	margin-top: 50px;
}

.mptext{
	margin-left: 500px;
	font-style: italic;
	font-size: 250%;
}

.mostpopular{
	margin: 0;
	padding: 0;
	margin-left: 500px;
	width: 320px;
	height: 100%;
	

}

.mostpopular ul{
	margin: 0;
	padding: 0;
	float: left;
    position: relative;
    display: inline-block;
}

.mostpopular ul li{
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
    position: relative;
    display: block;
}

.mostpopular ul li a{
	margin: 0;
	padding: 0;
    
}

.raddedtext{
	margin-left: 1150px;
	margin-top: -1030px;
	font-style: italic;
	font-size: 250%;
}


.radded{
	margin: 0;
	padding: 0;
	margin-left: 1150px;
	width: 320px;
	height: 100%;
	

}

.radded ul{
	margin: 0;
	padding: 0;
	float: left;
    position: relative;
    display: inline-block;
}

.radded ul li{
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
    position: relative;
    display: block;
}

.radded ul li a{
	margin: 0;
	padding: 0;
    
}

.buy_button{
	width: 100px;
	height: 25px;
	background-color: #858585;
	text-align: center;
	

}

.product_view_button{
	width: 100px;
	height: 25px;
	background-color: #858585;
	text-align: center;
}

.bid_button{
	width: 100px;
	height: 25px;
	background-color: #858585;
	text-align: center;
}

.soldLabel{
	color: red;
	font-weight: bold;
}